:root {
  --primary-color: #e50914;
  --dark-color: #141414;
  --light-color: #f4f4f4;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  background: #000;
}

h1,
h2,
h3,
h4,
h5,
p {
  color: #fff;
}

a {
  color: #fff;
  text-decoration: none;
}

.showcase {
  background: url('./netflixcoverpage.jpg') no-repeat center/cover;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
  border-bottom: 8px solid #222222;
}
.showcase::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: inset 120px 100px 250px rgba(0, 0, 0, 0.8),
    inset -100px -120px 250px rgba(0, 0, 0, 0.8);
}

.showcase-header {
  height: 90px;
  width: auto;
  position: relative;
  z-index: 2;
}

.header {
  display: flex;
  align-items: center;
  position: relative;
  margin: 0 50px 0 50px;
  top: 15px;
}
.header a {
  min-width: auto;
  min-height: auto;
  position: absolute;
  right: 0px;
  padding: 7px 17px 7px 17px;
  background-color: var(--primary-color);
  border-radius: 5px;
}

.showcase-content {
  position: relative;
  top: 10%;
  left: 19%;
  right: 19%;
  width: 100%;
  max-width: 950px;
  text-align: center;
  padding: 75px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 3;
  overflow-y: hidden;
}

.storycard {
  font-weight: 700px;
  font-size: 64px;
  line-height: 70px;
  text-align: center;
  height: 140px;
  margin: 0 75px 0 75px;
}

.subtitle {
  font-size: 26px;
  height: 30px;
  margin: 16px 75px 16px 75px;
}
.email-title {
  font-size: 19px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.emailform {
  display: flex;
  align-items: center;
}

.emailid {
  color: #000;
  background-color: #fff;
  height: 70px;
  width: 30rem;
  padding: 10px 10px 0 10px;
  cursor: text;
  border: 0px;
  border-radius: 5px 0 0 5px;
}

.button {
  background-color: #e50914;
  height: 70px;
  width: 245px;
  border: 0px;
  padding: 0 30px 0 30px;
  min-height: 70px;
  min-width: 75px;
  cursor: pointer;
}

.tv {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  border-bottom: 8px solid #222222;
}
.tv img {
  max-width: 100%;
  display: inline;
  position: relative;
  z-index: 2;
}

.tv-card {
  padding-top: 60px;
  padding-bottom: 60px;
  margin: 0 165px 0 165px;
}

.tv-card h1 {
  margin: 0 0 8px 0;
  font-weight: 700;
  line-height: 55px;
  font-size: 50px;
  margin: 0 0 8px 0;
}
.tv-card h2 {
  font-size: 26px;
  margin: 20px 0 7px 0;
}
.animation {
  position: relative;
  display: block;
  width: 48%;
  display: flex;
  overflow: hidden;
}

.tv-animation {
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 73%;
  max-height: 54%;
  position: absolute;
  display: block;
}

.mobile {
  position: relative;
  border-bottom: 8px solid #222;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mobile-card {
  padding-top: 60px;
  padding-bottom: 60px;
  margin: 0 185px 0 165px;
}

.mobile-card h1 {
  font-size: 3.125rem;
  line-height: 1.1;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.mobile-card h2 {
  margin: 0.75em 0 0.25em;
}

.mobile-animation {
  min-height: 100px;
  position: relative;
  overflow: hidden;
  padding-left: 20px;
  padding-right: 20px;
}
.mobile-animation img {
  max-width: 100%;
  height: auto;
}
.faq {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 60px;
  border-bottom: 8px solid #303030;
}

.faq-title {
  font-weight: 700px;
  font-size: 50px;
  line-height: 55px;
  text-align: center;
  margin: 0 0 8px 0;
  margin-top: 50px;
  margin-bottom: 50px;
}
.faq-list {
  width: 75%;
  margin: 2em auto;
  max-width: 815px;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  text-align: center;
}
.faq-list-item {
  list-style-type: none;
  margin: 0 0 8px 0;
  display: list-item;
}
.faq-question {
  font-size: 26px;
  font-weight: 400;
  text-align: left;
  position: relative;
  display: block;
  background-color: #303030;
  padding: 0.8em 2.2em 0.8em 1.2em;
  margin: 0 0 1px 0;
  cursor: pointer;
  color: #fff;
  align-items: flex-start;
  width: 100%;
  border: 0px;
}
.material-icons.md-36 {
  font-size: 36px;
  text-align: center;
  transform: translateY(-50%) rotate(0deg);
  position: absolute;
  right: 1em;
  top: 50%;
}
.faq-answer {
  transition: max-height 0.25s cubic-bezier(0.5, 0, 0.1, 1);
  overflow: hidden;
  text-align: left;
  background: #303030;
  font-size: 1.625rem;
  font-weight: 400;
  color: #fff;
  margin-bottom: 5px;
  margin-top: 3px;
}

.faq-answer span {
  display: inline-block;
  padding: 1.2em;
  text-align: left;
}
.closed {
  display: none;
}

.footer {
  max-width: 70%;
  margin: 1rem auto;
  overflow: auto;
}

.footer,
.footer a {
  color: #999;
  font-size: 0.9rem;
}

.footer p {
  margin-bottom: 1.5rem;
}

.footer .footer-cols {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
}

.footer li {
  line-height: 1.9;
}

.footer .lang-select {
  margin-top: 2rem;
  color: #999;
  background-color: #000;
  background-image: none;
  border: 1px solid #333;
  padding: 1rem 1.2rem;
  border-radius: 5px;
}

@media (max-width: 850px) {
  body {
    display: none;
  }
}
